1. What are data structures, and why are they important?
Ans. Data structures are ways to store and organize data. They help    make programs run faster and use memory better.

2. Explain the difference between mutable and immutable data types with examples.
Ans. Mutable means we can change the value (e.g., list). Immutable means we can't change it (e.g., string, tuple).

3. What are the main differences between lists and tuples in Python?
Ans. Lists can be changed (mutable); tuples can't (immutable)
         Lists use `[]`, tuples use `()`.

4. Describe how dictionaries store data.
Ans. Dictionaries store data as key-value pairs, like a word (key) and its meaning (value).

5. Why might you use a set instead of a list in Python?
Ans. Because sets don't allow duplicates and are faster for checking if something exists.

6. What is a string in Python, and how is it different from a list?
Ans. A string is a sequence of characters. Unlike lists, strings can't be changed (immutable).

7. How do tuples ensure data integrity in Python?
Ans. Since tuples can't be changed, the data stays safe and unchanged.

8. What is a hash table, and how does it relate to dictionaries in Python?
Ans. A hash table stores data using a key. Python dictionaries are built using hash tables.

9. Can lists contain different data types in Python?
Ans. Yes, lists can hold different types like numbers, strings, and even other lists.

10. Explain why strings are immutable in Python?
Ans. Strings are immutable to make them safe and fast, especially when used in loops or keys.

11. What advantages do dictionaries offer over lists for certain tasks?
Ans. Dictionaries are better when we need to look up data by a name or key, not a number index.

12. Describe a scenario where using a tuple would be preferable over a list.
Ans. When we want to store fixed data like (latitude, longitude) that shouldn’t change.

13. How do sets handle duplicate values in Python?
Ans. Sets automatically remove any duplicate values.

14. How does the “in” keyword work differently for lists and dictionaries?
Ans. In a list, it checks for a value.
         In a dictionary, it checks for a key.

15. Can you modify the elements of a tuple? Explain why or why not.
Ans. No, because tuples are immutable. Once created, we can't change their values.

16. What is a nested dictionary, and give an example of its use case.
Ans. A nested dictionary is a dictionary inside another one.
         Example: `students = {"John": {"age": 20, "grade": "A"}}`

17. Describe the time complexity of accessing elements in a dictionary.
Ans. It’s usually O(1), which means very fast.

18. In what situations are lists preferred over dictionaries?
Ans. When we only care about the order or position of data, not a key.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Ans.Dictionaries are considered unordered because they don't store items in a fixed order.
        The position of items can change. This means we can't access items by index—only by their key.
        So, we can't rely on the order in which items were added.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
Ans. In a list, we get data using an index (a number), like my_list[0].
         In a dictionary, we get data using a key (a name or label), like my_dict["name"].
         So, lists use positions, and dictionaries use keys to find data.

1. Write a code to create a string with your name and print it.

In [1]:
name = "John"
print(name)

John

2. Write a code to find the length of the string "Hello World".

In [2]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
text = "Python Programming"
print(text[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
word = "hello"
print(word.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
nums = (10, 20, 5, 15)
print(min(nums))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ("apple", "banana", "orange")
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
person = {"name": "Alice", "age": 25, "city": "London"}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'London'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [32]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[32, 51, 58, 61, 85]

28. Write a code to create a list with strings and print the element at the third index.

In [29]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [30]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [31]:
my_list = ["apple", "banana", "apple", "orange"]
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'orange'}